<link rel="stylesheet" href="~/css/StyleSheet.css" />

@model LigeVM

<body>
    <div class="container">
        <div>
            @*<button class="liga-ikona" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Lige
        </button>
        <div class="dropdown-menu">
            @foreach (var item in Model.listaliga)
            {
                <a class="dropdown-item" onclick="PrikaziUtakmice(@item.Value)">@item.Text</a>
            }
        </div>*@
            <form asp-controller="Utakmica" asp-action="Prikaz">
                <div class="form-group">
                    <label> Odaberite ligu</label>
                    <select asp-for="LigaID" asp-items="@Model.listaliga" class="form-control"></select>
                   </div>
                <div class="form-group">
                    <input type="submit" value="Odaberi" class="btn btn-default" />
                </div>
            </form>
        </div>
        @*<div id="AjaxDiv" style="border: 1px red solid;">

        </div>*@
    </div>
</body>
@*<script>
    function PrikaziUtakmice(ligaid) {
        $.get("/Utakmica/Prikaz?tip=0&ligaid=" + ligaid, function (result) {
            $("#AjaxDiv").html(result);
        });
    }
</script>*@