@model LigaPrikazVM

<body>
    <table class="table table-hover">
        <thead class="thead-dark text-center">
            <tr>
                <th>Naziv</th>
                <th>Opcije</th>
            </tr>

        </thead>

        <tbody class="text-center">
            @foreach (LigaPrikazVM.Row l in Model.Lige)
            {
                <tr>
                    <td class="align-middle">@l.Naziv</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-outline-primary col mr-1" type="button" onclick="PrikaziSezone(@l.ID)">Sezone</button>
                            <button class="btn btn-outline-primary col mr-1" type="button" onclick="DodajSezonu(@l.ID)">Dodaj sezonu</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br/>

    <div id="sezone"></div>
</body>

<script>
    function PrikaziSezone(lID) {
        var url = "/Sezona/Prikaz?lID=" + lID;

        $.get(url, function (sadrzaj) {
            $("#sezone").html(sadrzaj);
        });
    }

    function DodajSezonu(lID) {
        var url = "/Sezona/Dodaj?lID=" + lID;

        $.get(url, function (sadrzaj) {
            $("#sezone").html(sadrzaj);
        });
    }

</script>