
body {
    margin: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-image:url("../img/background1.jpg");
    overflow: scroll;
}

    body::-webkit-scrollbar {
        display: none;
    }

* {
    margin: 0;
    padding: 0;
}
.OkvirUtak {
    margin: auto;
    width: 30%;
    text-align: center;
    padding: 25px;
    margin-top: 30px;
    color: black;
}
#btn1 {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #EFC809;
    color: black;
    margin: 5%;
    width:40%;
    float:left;
}

    #btn1,#btn11:hover {
        color: black;
        background-color: #EFC809;
    }

#igracin input {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid grey;
    color: black;
    margin-bottom:2px;
}
.inputcss {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid grey;
    color: black;
    height: 35px;
    width: 30%;
    text-align: center;
}
.okvirIgraca1 {
    margin: auto;
    width: 40%;
    text-align: center;
    padding: 25px;
    color: black;
    text-align:start;
}
#okvirIgraca {
    margin-top: 20px;
    width: 70%;
    height: 70%;
    position: absolute;
    left: 15%;
    top: 15%;
    overflow-y: scroll;
}
#okvirIgraca::-webkit-scrollbar {
    display: normal;
}
/* width */
    #okvirIgraca::-webkit-scrollbar {
        width: 10px;
    }

/* Track */
    #okvirIgraca::-webkit-scrollbar-track {
        background: #ededed;
    }

/* Handle */
    #okvirIgraca::-webkit-scrollbar-thumb {
        background: #EFC809;
    }

    /* Handle on hover */
        #okvirIgraca::-webkit-scrollbar-thumb:hover {
            background: #efbd09;
        }
/*CSS ZA PRIKAZ NOVOSTI*/
.okvir-vijesti {
    width: 70%;
    height: 80%;
    position: absolute;
    left: 15%;
    top: 15%;
    overflow-y: scroll;
}

    .okvir-vijesti::-webkit-scrollbar {
        display:normal;
    }
/* width */
    .okvir-vijesti::-webkit-scrollbar {
        width: 10px;
    }

/* Track */
    .okvir-vijesti::-webkit-scrollbar-track {
        background: #ededed;
    }

/* Handle */
    .okvir-vijesti::-webkit-scrollbar-thumb {
        background: #EFC809;
    }

    /* Handle on hover */
        .okvir-vijesti::-webkit-scrollbar-thumb:hover {
            background: #efbd09;
        }
.vijest {
    height: 20%;
    width: 60%;
    position: relative;
    top: 2%;
    left: 20%;
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
}

.slika-vijesti {
    height: 100%;
    width: 30%;
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    position: absolute;
}

    .slika-vijesti img {
        height: 100%;
        width: 100%;
    }

.clanak {
    height: 100%;
    width: 60%;
    position: absolute;
    left: 30%;
    box-sizing: border-box;
    padding: 10px;
    word-break: break-word;
}

/*CSS ZA PRIKAZ DETALJA JEDNE NOVOSTI*/

.detalji-Clanka {
    width: 70%;
    height: 80%;
    position: absolute;
    left: 15%;
    top: 15%;
    overflow: scroll;
}

    .detalji-Clanka::-webkit-scrollbar {
        display: none;
    }

.slika-calnka {
    height: 45%;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    text-align:center;
}

    .slika-calnka img {
        height: 100%;
        width: auto;
    }

.detalji-Clanka h3 {
    text-align: center;
    border-bottom: 1px solid grey;
}

.detalji-Clanka h3, .detalji-Clanka p {
    box-sizing: border-box;
    padding: 5px;
}

/*CSS ZA NOVINARA-DODAVANJE I UREDJIVANJE NOVOSTI*/

.opcije {
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
}

    .opcije button {
        margin: 0 45px 0 45px;
        height: 45px;
        width: 150px;
    }
.form-group div {
    left: 38%;
    top: 35px;
    text-align: start;
}

#Okvir-Inputa {
    margin-top: 50px;
    width: 40%;
}

/*CSS ZA PRIKAZ VIJESTI ZA ADMINA*/

.uredi-obrisi {
    width: 10%;
    height: 100%;
    float: right;
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.1);
    position: relative;
    text-align: center;
    padding: 10px;
}

.dodaj-clanak {
    width: 85px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 90%;
}

.ikone {
    width: 40px;
    height: 40px;
    padding: 20px 0 0 20px;
}

.uredi-obrisi a {
    width: 100%;
    font-size:11px;
}
/*CSS ZA PRIKAZ UTAKMICA KORISNIKU*/
.korisnik-ikona {
    height: 40px;
    width: 100px;
    background-color: white;
    border-radius: 0px 30px 0px 0px;
    position: absolute;
    top: 80px;
}

    .korisnik-ikona img {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 30px;
        top: 5px;
    }

.liga-ikona {
    height: 40px;
    width: 150px;
    border: 1px solid #EFC809;
    border-radius: 30px 0px 0px 30px;
    position: absolute;
    top: 110px;
    right: 0px;
}

.table td, .table th {
    border-top: 0;
}

/*======*/

.btn-group button {
    height: 40px;
    width: 100px;
    background-color: white;
    border-radius: 0px 20px 20px 0px;
    /*position: absolute;*/
    border: 0;
    top: 35px;
    float:right;
}
.btn-group:focus {
    outline: none;
}
.dropdown-menu{
    min-width:30px;
}