@*
*@
@{
}

@model IgracUrediVM

<body>
    <br /><br /><br />
                <form asp-action="Snimi" asp-controller="Igrac">

                    <div class="container">
                        <div class="row border">
                            <div class="col-sm-4 border-right">
                                <img src="~/img/sdfs.png" alt="Slika igraca" />
                            </div>
                            <div class="col-sm-4 " style="text-align:right;">
                                <p>Ime : </p>
                                <p>Prezime : </p>
                                <p>Datum rodjenja : </p>
                                <p>Email : </p>
                                <p>Visina : </p>
                                <p>Tezina : </p>
                                <p>Broj dresa : </p>
                                <p>Grad : </p>
                                <p>Pozicija : </p>
                                <p>Klub : </p>
                            </div>
                            <div class="col-sm-4" style="text-align:left;">
                                <input class="form-control" style="display:none;" asp-for="ID" />
                                <input class="form-control" asp-for="Ime" />
                                <input class="form-control" asp-for="Prezime" />
                                <input class="form-control" asp-for="DatumRodjenja" />
                                <input class="form-control" asp-for="Email" />
                                <input class="form-control" asp-for="Visina" />
                                <input class="form-control" asp-for="Tezina" />
                                <input class="form-control" asp-for="BrojDresa" />
                                <select class="form-control" asp-for="GradID" asp-items="@Model.gradovi"></select>
                                <select class="form-control" asp-for="PozicijaID" asp-items="@Model.pozicije"></select>
                                <input class="form-control" asp-for="KlubNaziv" />
                            </div>

                        </div>



                    </div><br /><br />
                    <div class="opcije" style="text-align:center">

                        <button class="btn btn-warning" type="button" onclick="window.location='/Igrac/PrikazAdmin'">Odustani</button>
                        <button class="btn btn-warning" type="submit" value="Spasi">Spasi</button>

                    </div>
                </form>
</body>