<link rel="stylesheet" href="~/css/StyleSheet.css" />

@model IgracUrediVM

<body>
    <div class="container">
        <div class="row">
            <div class="okvirIgraca1">
                        <h5 style="text-align:center;">Informacije o igraču</h5>
                        <hr />
                <form asp-action="Snimi" enctype="multipart/form-data" asp-controller="Igrac">
                       
                        <div id="igracin">
                            <div class="form-group">
                                <input class="form-control" style="display:none;" asp-for="ID" />
                            </div>
                            <div class="form-group">
                                <label>Ime</label>
                                <input class="form-control" asp-for="Ime" data-val="true" data-val-required="Ime igrača je obavezno." />
                                <span asp-validation-for="Ime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Prezime</label>
                                <input class="form-control" asp-for="Prezime" data-val="true" data-val-required="Prezime igrača je obavezno." />
                                <span asp-validation-for="Prezime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Datum rođenja</label>
                                <input class="form-control" asp-for="DatumRodjenja" data-val="true" data-val-required="Datum rođenja igrača je obavezan." />
                                <span asp-validation-for="DatumRodjenja" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" asp-for="Email" />
                            </div>
                            <div class="form-group">
                                <label>Visina</label>
                                <input class="form-control" asp-for="Visina" data-val="true" data-val-required="Visina igrača je obavezna." />
                                <span asp-validation-for="Visina" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Težina</label>
                                <input class="form-control" asp-for="Tezina" data-val="true" data-val-required="Težina igrača je obavezna." />
                                <span asp-validation-for="Tezina" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Broj dresa</label>
                                <input class="form-control" asp-for="BrojDresa" data-val="true" data-val-required="Broj dresa igrača je obavezan." />
                                <span asp-validation-for="BrojDresa" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Grad rođenja</label>
                                <select class="form-control" asp-for="GradID" asp-items="@Model.gradovi"></select>
                            </div>
                            <div class="form-group">
                                <label>Pozicija</label>
                                <select class="form-control" asp-for="PozicijaID" asp-items="@Model.pozicije"></select>
                            </div>
                            <div class="form-group">
                                <label>Trenutni klub</label>
                                <select class="form-control" asp-for="KlubID" asp-items="@Model.klubovi"></select>
                            </div>
                            <div class="form-group">
                                <label>Trenutna slika</label>
                                <img id="previewImg" style="height:250px; display:block" src="~/upload/@Model.slika" />
                            </div>
                            <div class="form-group">
                                <label>Odaberi sliku</label>
                                <input asp-for="SlikaIgraca" class="form-control" accept="image/*" style="height:unset;" onchange="generisiPreview(this)" />
                            </div>
                        </div>
                    <br />
                    <div class="form-group">
                        <input id="btn1" type="button" class="form-control" style="width: 35%;float:left; " onclick="window.location='/Igrac/Prikaz'" value="Odustani" />
                        <input id="btn1" type="submit" class="form-control" style="width: 35%;float:right; "value="Snimi" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    function generisiPreview(input) {
        var file = input.files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function () {
                $("#previewImg").attr("src", reader.result);
            }
            reader.readAsDataURL(file);
        }
    }
</script>
