@model FudbalskaLigaBiH.Models.SezonaDodajUrediVM

@{
    ViewData["Title"] = "Dodaj";
}

<form asp-controller="Sezona" asp-action="Snimi">
    <input readonly hidden asp-for="ID" />

    <label>Liga</label>
    <select disabled asp-for="LigaID" asp-items="Model.Lige" ></select>
    <select hidden asp-for="LigaID" asp-items="Model.Lige"></select>

    <br />

    <label>Datum početka</label>
    <input id="datumPocetka" type="date" asp-for="DatumPocetka"/>

    <br />

    <label>Datum završetka</label>
    <input id="datumZavrsetka" type="date" asp-for="DatumZavrsetka"/>

    <br />


    <input type="submit" value="Sačuvaj" />

    <br />
    <br />
</form>

<div>
    <input type="submit" onclick="window.location='/Liga/Prikaz'" value="Odustani"/>
</div>
@*<script>
    const formatDate = (date) => {
        let d = new Date(date);

        let day = "" + d.getDate();
        let month = "" + d.getMonth() + 1;
        let year = "" + d.getFullYear();

        if (day.length < 2) {
            day = '0' + day;
        }

        if (month.length < 2) {
            month = '0' + month;
        }

        return [month, day, year].join("/");

    }

    $("#datumPocetak").on("change", () => {
        let date = $("#datumPocetka").val();
        let newDate = new Date(date);
        newDate.setDate(newDate.getDate() + 1);

        let dateString = formatDate(newDate);

        $("#datumZavrsetka").attr("min", dateString);
        $("#datumZavrsetka").val(dateString);
    })
</script>*@
