@using Microsoft.AspNetCore.Identity
@using Data.EntityModel;
@inject SignInManager<Korisnik> SignInManager
@inject UserManager<Korisnik> UserManager
@{ 

}


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               >
                <img src="~/img/user.png" style="width:30px;height:30px;" />
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" asp-action="Profile" asp-controller="Account">Upravljanje podacima</a>

                <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Promijeni lozinku</a>
            </div>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">ODJAVA</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Register" asp-controller="Account">REGISTRUJ SE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Login" asp-controller="Account">PRIJAVI SE</a>
        </li>
    }
</ul>
