<link href="~/css/Account.css" rel="stylesheet" />


<body >
    <div class="container">
        <div class="row">
            <div class="OkvirPotvrde">
                <div class="text-center">
                    <br />
                    <img class="slicice" src="~/img/padlock.png" />
                    <br /><br />
                    <h3 class="text-success">Lozinka ažurirana!</h3>

                    <br />
                    <h4 class="text-success">Vaša lozinka je uspješno promijenjena.</h4>
                    <h4 class="text-success">Od sada koristite Vašu novu lozinku za prijavu na profil.</h4>
                </div>
            </div>
        </div>
    </div>
</body>