<div class="text-center">
    <br />
    <img src="~/images/Tick_Correct.png" style="height:350px; width: 300px" />

    <br />
    <h3 class="text-success">Lozinka ažurirana!</h3>

    <br />
    <h4 class="text-success">Vaša lozinka je uspješno promijenjena.</h4>
    <h4 class="text-success">Od sada koristite Vašu novu lozinku za prijavu na profil.</h4>
</div>