@{ var email = ViewBag.Email; }

<br />
<div class="text-center">
    <h3 class="text-success">
        Uspješno ste potvrdili Vaš Email >>@email<<
        Od sada koristite ovaj Email za prijavu na stranicu.
    </h3>

    <br />
    <br />
    <h4><a asp-action="Index" asp-controller="Home">Početna</a></h4>
</div>