@{ var title = ViewBag.Title;
                var message = ViewBag.Message; }

<div class="text-center">
    <br />
    <img src="~/images/almost-there.png" />

    <br />
    <h3 class="text-success">@ViewBag.Title</h3>

    <br />
    <h4 class="text-success">@ViewBag.Message</h4>

    <br />
    <br />
    <h4><a href="@Model">Potvrdite Email</a></h4>

</div>