<br />
<hr />
<h3 class="text-center text-success">
    Ako je Email adresa povezana sa ovim korisničkim računom, link za ponovno postavljanje lozinke će biti poslan uskoro. Provjerite Vašu poštu.
</h3>