@using FudbalskaLigaBiH.Models
<link href="~/css/Account.css" rel="stylesheet" />

@model ForgotPasswordViewModel

<body>
    <div class="container">
        <div class="row">
            <div class="OkvirLogina" style=" text-align:start; ">
                <h3 style="text-align:center;">Promijeni lozinku</h3>
                <h6 style="text-align:center;">Ponovo postavi lozinku</h6>
                <form method="post">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input id="btn1" type="submit" class="form-control" value="Potvrdi" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>