@using FudbalskaLigaBiH.Models
<link href="~/css/Account.css" rel="stylesheet" />

@model ProfileViewModel

@{ ViewData["Title"] = "Profile";
    var message = TempData["StatusMessage"];
    }

<body>
    <div class="container">
        <div class="row">
            <div class="OkvirLogina" style=" text-align:start; ">
                <form method="post">
                    <h3 style="text-align:center;">Upravljanje računom</h3>
                    <h6 style="text-align:center;">Uredite svoje podatke</h6>
                    <hr />
                    @if (message != null)
                    {
                        <div class="alert alert-success" data-alert="alert">
                            <button class="close" data-dismiss="alert">&times;</button>
                            <p class="text-center text-info" style="margin:0;" >@message</p>
                        </div>
                    }
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input hidden asp-for="UserID" class="form-control" type="text"
                               data-val="true" data-val-required="Ime polje je obavezno." />
                        <label asp-for="FirstName"></label>
                        <input id="FirstName" name="FirstName" asp-for="FirstName" class="form-control" type="text"
                               data-val="true" data-val-required="Ime polje je obavezno." />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input id="LastName" name="LastName" asp-for="LastName" class="form-control" type="text"
                               data-val="true" data-val-required="Prezime polje je obavezno." />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input readonly id="Email" name="Email" asp-for="Email" class="form-control" type="email"
                               data-val="true" data-val-required="Email polje je obavezno." />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div><br />
                    <div class="form-group">
                        <input id="btn1" type="submit" class="form-control" value="Snimi" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>