@using FudbalskaLigaBiH.Models
<link href="~/css/Account.css" rel="stylesheet" />

@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<br />
<body>
    <div class="container">
        <div class="row">
            <div class="OkvirLogina" style="text-align:center;">
                <form method="post">
                    <h3>Kreiraj novi račun</h3>
                    <h6>Molimo da unesete Vaše podatke</h6>

                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input id="FirstName" name="FirstName" asp-for="FirstName" class="form-control" type="text"
                               data-val="true" data-val-required="Ime polje je obavezno." placeholder="Ime" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input id="LastName" name="LastName" asp-for="LastName" class="form-control" type="text"
                               data-val="true" data-val-required="Prezime polje je obavezno." placeholder="Prezime" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input id="Email" name="Email" asp-for="Email" class="form-control" type="email"
                               data-val="true" data-val-required="Email polje je obavezno." placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input id="Password" name="Password" asp-for="Password" class="form-control" type="password"
                               data-val="true" data-val-required="Lozinka polje je obavezno." placeholder="Lozinka" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input id="ConfirmPassword" name="ConfirmPassword" asp-for="ConfirmPassword" class="form-control" type="password"
                               data-val="true" data-val-required="Potvrda lozinke polje je obavezno." placeholder="Potvrda lozinke" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="PhoneNumber" class="form-control" placeholder="Broj telefona" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input id="btn1" type="submit" class="form-control" value="Registracija" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>