<body>
    <div class="container">
        <div class="text-center">
            <br />
            <h1 class="text-danger">Pristup zabranjen</h1>
            <h4 class="text-danger">Nemate ovlasti za pristup.</h4>
            <br />
            <img src="~/images/accessDenied.png" style="height:450px; width:450px" />
        </div>
    </div>
</body>