<link rel="stylesheet" href="~/css/StyleSheet.css">

@{
}
@model NovostiDetaljiVM.NovostiRed

<body>

    <div id="ostatak-parenta">
        <div class="detalji-Clanka">
            <div class="slika-calnka">
                <img id="oreviewImg" src="/uploads/@Model.slika" alt="Slika clanka-Vijest1" />
            </div>
            <h3>@Model.NaslovNovosti</h3>
            <span>@Model.SadrzajNovosti</span><br />
            <span style="float:right;">@Model.DatumObjaveNovosti</span>

        </div>
    </div>
</body>