<link rel="stylesheet" href="~/css/StyleSheet.css">
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@{
    Layout = null;
}
@model NovostiDetaljiVM.NovostiRed

@*INPUT POLJA*@

<body>
    <form asp-action="Snimi" asp-controller="Novosti">

        <div id="Okvir-Inputa" class="container">
            <div class="form-group"style="display:none;">
                    <label class="col-sm-auto col-form-label">ID Novosti</label>
                    <input class="form-control" readonly  asp-for="IDnovosti" />
                </div>
            <div class="form-group">
                <label class="col-sm-auto col-form-label">Naslov članka</label>
                <input class="form-control" asp-for="NaslovNovosti" />
            </div>
            <div class="form-group">
                <label class="col-sm-auto col-form-label">Sadržaj članka</label>
                <textarea class="form-control" asp-for="SadrzajNovosti"></textarea>
            </div>
            <div class="form-group">
                <label class="col-sm-auto col-form-label">Datum objave</label>
                <input class="form-control" asp-for="DatumObjaveNovosti" />
            </div>
        </div>
        <div class="opcije">

            <a class="btn btn-warning" id="odustaniDugme" style="margin: 0 45px 0 45px; height: 45px; width: 150px; padding-top: 10px;" 
               type="button" href="/Novosti/Prikaz">Odustani</a>
            <button class="btn btn-warning" type="submit" value="Spasi">Spasi</button>

        </div>
    </form>
</body>

