@using Microsoft.AspNetCore.Identity
@using Data.EntityModel;
@inject SignInManager<Korisnik> SignInManager
@inject UserManager<Korisnik> UserManager

<link rel="stylesheet" href="~/css/StyleSheet.css">
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>

@using FudbalskaLigaBiH.Models

@{
    Layout = null;
}
@model NovostiDetaljiVM.NovostiRed

<body>
    <form enctype="multipart/form-data" method="post">

        <div id="Okvir-Inputa" class="container">
            <div class="form-group" style="display:none;">
                <label class="col-sm-auto col-form-label">ID Novosti</label>
                <input class="form-control" readonly asp-for="IDnovosti" />
            </div>
            <div class="form-group">
                <label>Trenutna slika</label>
                <img id="previewImg" style="height:100px; display:block" src="~/upload/@Model.slika" />
            </div>

            <div class="form-group">
                <label>Odaberi sliku</label>
                <input asp-for="SlikaNovosti" alt="slikanovosti" class="form-control" style="height:unset;" accept="image/*" onchange="generisiPreview(this)" />
            </div>


            <div class="form-group">
                <label class="col-sm-auto col-form-label">Naslov članka</label>
                <input id="NaslovNovosti" name="NaslovNovosti" asp-for="NaslovNovosti" class="form-control" type="text"
                       data-val="true" data-val-required="Naslov novosti je obavezan." />
                <span asp-validation-for="NaslovNovosti" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label class="col-sm-auto col-form-label">Sadržaj članka</label>
                <textarea onkeyup="textAreaAdjust(this)" style="overflow:auto" id="SadrzajNovosti" name="SadrzajNovosti" class="form-control" asp-for="SadrzajNovosti"
                          type="text" data-val="true" data-val-required="Sadržaj novosti je obavezan."></textarea>
                <span asp-validation-for="SadrzajNovosti" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label class="col-sm-auto col-form-label">Datum objave</label>
                <input class="form-control" asp-for="DatumObjaveNovosti" />
            </div>
        </div>
        <div class="opcije">

            <a class="btn btn-warning" id="odustaniDugme" style="margin: 0 45px 0 45px; height: 45px; width: 150px; padding-top: 10px;"
               type="button" href="/Novosti/Prikaz">Odustani</a>
            <button id="dugmeporuka" class="btn btn-warning" type="submit" value="Spasi">Spasi</button>
        </div>
    </form>
</body>
<script>
    function textAreaAdjust(element) {
        element.style.height = "1px";
        element.style.height = (25 + element.scrollHeight) + "px";
    }
        function generisiPreview(input) {
            var file = input.files[0];

            if (file) {
                var reader = new FileReader();

                reader.onload = function () {
                    $("#previewImg").attr("src", reader.result);
                }
                reader.readAsDataURL(file);
            }
        }
    </script>
