<link rel="stylesheet" href="~/css/StyleSheet.css">
<script src="~/js/site.js"></script>

@{
    string successMessage = (string)TempData["successMessage"];
    NovostiDetaljiVM vm_listaNovosti = Model;
    string poruka1 = (string)TempData["edit"];
}
@model NovostiDetaljiVM

<body>

    <div id="ostatak-parenta">
        <div class="btn-group">
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">↓↑</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/Novosti/Prikaz?filter=0">Najnovije</a>
                <a class="dropdown-item" href="/Novosti/Prikaz?filter=1">Najstarije</a>
            </div>
        </div>
        <div class="okvir-vijesti">
            @if (successMessage != null)
            {
                <div class="alert alert-success" data-alert="alert">
                    <a class="close" data-dismiss="alert">&times;</a>
                    <p class="text-center text-info" style="margin:0;">@successMessage</p>
                </div>
            }

            @foreach (NovostiDetaljiVM.NovostiRed vijest in Model.novosti)
            {
                <a style="color:black;" href="/Novosti/Detalji?NovostiID=@vijest.IDnovosti">

                    <div class="vijest">
                        <div class="slika-vijesti"><img src="~/upload/@vijest.slika" alt="Slika-Vijest1" /></div>
                        <div class="clanak">
                            <h6>@vijest.NaslovNovosti</h6><br />
                            <span style="font-size:10px;position:absolute;top:50%;">@(@vijest.SadrzajNovosti!=null?vijest.SadrzajNovosti.Substring(0,vijest.SadrzajNovosti.Length>=90?90:vijest.SadrzajNovosti.Length):null)...</span>
                            <span style="font-size:small; position:absolute; float:right; bottom:5px; right:5px;margin:0;">@vijest.DatumObjaveNovosti</span>
                        </div>
                        <div class="uredi-obrisi">
                            <a class="btn btn-warning" href="/Novosti/DodajUredi?NovostiID=@vijest.IDnovosti" style="padding:5px;">Uredi</a><br /><br />
                            <a class="btn btn-warning" style="padding:5px;" data-target="#brisanjeModal" data-toggle="modal">Obriši</a>
                        </div>
                    </div>
                </a>
                <div class="modal" id="brisanjeModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header"></div>
                            <div class="modal-body">
                                <span>Jeste li sigurni da želite obrisati?</span>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-warning" href="/Novosti/Obrisi?NovostiID=@vijest.IDnovosti">Da</a>
                                <a class="btn btn-warning" data-dismiss="modal">Ne</a>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
            }
        </div>

    </div>
        <a asp-controller="Novosti" asp-action="IzvjestajNovosti">
            <img src="~/img/printer.png" style="width:30px;bottom:15px;right:15px;position:absolute" />
        </a>


</body>