<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/site.js"></script>
<link href="~/css/StyleSheet.css" rel="stylesheet" />

@{
}
@model NovostiDetaljiVM
<body>

        <div class="btn-group" >
            <button type="button" style="outline:none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">↓↑</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/Novosti/Prikaz?filter=0">Najnovije</a>
                <a class="dropdown-item" href="/Novosti/Prikaz?filter=1">Najstarije</a>
            </div>
        </div>
        <div class="okvir-vijesti">
            @foreach (NovostiDetaljiVM.NovostiRed vijest in Model.novosti)
            {
                <a style="color:black;" href="/Novosti/Detalji?NovostiID=@vijest.IDnovosti">
                    <div class="vijest">
                        <div class="slika-vijesti"><img src="~/upload/@vijest.slika" alt="Slika-Vijest1" /></div>
                        <div class="clanak">
                            <h6>@vijest.NaslovNovosti</h6><br />
                            <span style="font-size:10px;position:absolute;top:50%;">@(@vijest.SadrzajNovosti!=null?vijest.SadrzajNovosti.Substring(0,vijest.SadrzajNovosti.Length>=90?90:vijest.SadrzajNovosti.Length):null)...</span>
                            <span style="font-size:small; position:absolute; float:right; bottom:5px; right:5px;margin:0;">@vijest.DatumObjaveNovosti</span>
                        </div>
                    </div>
                </a><br />
            }
        </div>
</body>